<div class="photos-component">
    <div class="col-md-2 hidden-xs hidden-sm listing-tag">
        <ul>
            <li *ngFor="let tag of tags" (click)="filter(tag.id)" [ngClass]="{'selected': tag.id == selectedTagId}">
                {{tag.name}}
            </li>
        </ul>
    </div>
    <div class="col-md-10 col-sm-12 col-xs-12 listing-image">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let img of images">
            <div class="photo-box">
                <div class="image-wrap">
                    <img [src]="img.url" [name]="img.name" alt="" />
                    <!-- <div class="likes">309 Likes</div> -->
                </div>
                <!-- <div class="description">
                    Fantastic Architecture #architecture #testing
                    <div class="date">September 16, 2014</div>
                </div> -->
            </div>
        </div>
    </div>
</div>



